* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bg-color: #fff;
    --text-color: #000;

    --bg-color-dark: #000;
    --text-color-dark: #fff;
}
body {
    background-color: var(--bg-color);
    color: var(--text-color);
}
header {
    border-bottom: 1px solid gainsboro;
}
li {
    list-style: none;
}
a {
    color: var(--text-color);
    text-decoration: none;
}
.navbar {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
}
.logo {
    font-size: 2rem;
}
.nav-menu {
    display: flex;
    align-items: center;
    gap: 60px;
}
.nav-link {
    transition: 0.5s ease;
}
.nav-link:hover {
    color: pink;
}
.hamburguer {
    display: none;
    cursor: pointer;
}
.bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: var(--text-color);
    transition: all 0.3s ease-in-out;
}
@media (max-width: 768px) {
    .hamburguer {
        display: block;
    }
    .hamburguer.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburguer.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburguer.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        border-bottom: 1px solid gainsboro;
        background-color: var(--bg-color);
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
    }
    .nav-item {
        margin: 16px 0;
    }
    .nav-menu.active {
        left: 0;
    }

    /*=====Dark mode ======*/
    .dark .nav-menu {
        background-color: var(--bg-color-dark);
    }
}

/*=====Dark mode ======*/
#mode_icon {
    cursor: pointer;
    font-size: 30px;
}

.dark {
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
}

.dark a {
    color: var(--text-color-dark);
}

.dark .bar {
    background-color: var(--text-color-dark);
}

#mode_icon {
    position: fixed;
    top: 1.2rem;
    right: 1.5rem;
}